<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    

                {%if reservas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Termino</th>
                                <th>Estado</th>
                                <th>Cliente</th>
                                <th>Barbero</th>
                                <th>Servicio</th>
                                <th>Codigo QR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in reservas %}
                                <tr>
                                    <td>{{reserva.id}}</td>
                                    <td>{{reserva.fecha}}</td>
                                    <td>{{reserva.hora_inicio}}</td>
                                    <td>{{reserva.hora_fin}}</td>
                                    <td>{{reserva.estado}}</td>
                                    <td>{{reserva.cliente}}</td>
                                    <td>{{reserva.barbero}}</td>
                                    <td>{{reserva.servicio}}</td>


                                    <td class="text-center">
                                        {% if reserva.qr_codigo %}
                                            <!-- Imagen QR -->
                                            <img src="{{ reserva.qr_codigo.url }}" 
                                                alt="QR Reserva"
                                                style="width: 80px; height: 80px; display:block; margin:auto;">

                                            <!-- Botón para descargar -->
                                            <a href="{{ reserva.qr_codigo.url }}" 
                                            download="QR_Reserva_{{ reserva.id }}.png"
                                            class="btn btn-sm btn-primary mt-2">
                                                Descargar
                                            </a>
                                        {% else %}
                                            <span class="text-muted">No generado</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <a href="/eliminarReservaCliente/{{reserva.id}}" 
                                        class="btn btn-danger"
                                        onclick="return confirm('¿Estás seguro de que deseas eliminar esta reserva?');">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
            
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>No hay Reservas</h3>
                {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
    

                

</body>
</html>